<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <h1>Stupid Coaching</h1>
      <p class="lead">Ask your coach anything</p>
      <form action="/answer" data-turbo="false">
        <input type="text" name="user_answer" class="form-control" placeholder="Your question">
        <input type="submit" class="btn btn-primary mt-3" value="Ask">
      </form>
    </div>
  </div>
</div>
